body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    overflow: hidden;
}
.card {
    width: 250px;
    height: 150px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}
.card-skeleton {
    background-image: linear-gradient(90deg, #ccc 0px, rgb(299 299 299/90%) 40px, #ccc 80px);
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
}
.title {
    height: 30px;
    margin-bottom: 15px;
}
.description {
    height: 100px;
}
@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}