* {
    box-sizing: border-box;

}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.form-group {
    position: relative;
    width: 400px;
    height: 50px;
    margin-bottom: 2rem;
}
.input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 1px solid violet;
    border-radius: 12px;
    outline: none;
}
label {
    position: absolute;
    color: #515151;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    transition: top .15s;
    pointer-events: none;
}
.input:not(:placeholder-shown) + label,
.input:focus + label {
    display: inline-block;
    top: -5px;
    color: violet;
    background-color: #fff;
}
input[type="submit"] {
    min-width: 100px;
    height: 50px;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px 1rem;
    border: none;
    border-radius: 12px;
    color: #fff;
    background-color: violet;
}